{% extends 'Base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>id</td>
			<td>Nombre</td>
			<td>Precio</td>
            <td>Acciones</td>
		</tr>	
	</thead>
	<tbody>
		{% if productos %}
		{% for producto in productos %}
		<tr>
			<td>{{ producto.id }}</td>
			<td>{{ producto.nombre }}</td>
			<td>{{ producto.precio }}</td>
            <td>
                <a class="btn btn-primary" href="{%url 'ModuloCompras:producto_edit' producto.id %}">Editar</a>

                <a class="btn btn-danger" href="{%url 'ModuloCompras:producto_delete' producto.id %}">Eliminar</a>
            </td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de Productos</h1>
		{% endif %}
	</tbody>
</table> 
{% endblock%}
